.page {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  padding: 45px 0 60px;
  margin: 0 auto;
  background: #000;
  font-family:'Inter', 'Arial', 'Helvetica', 'sans-serif';
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 925px) {
  .page {
    padding: 27px 0 36px;
  }
}
